.card-item img{
    width: 80%;
}

.card-item {
    display: flex;
    flex-direction: column;
    border-top: 1px solid brown;
    border-bottom: 1px solid brown;
    border-right: 1px solid brown;
    border-left: 1px solid brown;
    border-radius: 5px;
}

.card-item p {
    font-size: 18px;
    font-weight:900;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-item span {
    margin-bottom: 10px;
    font-size: 24px;
}

.seccion-style {
    margin-top: 10px;
    margin-bottom: 10px;
}
