.card-item img{
    width: 100%;
}

.item-card-container {
    background-color: lightpink;
    width: 280px;
    margin-left: 12px;
    height: 400px;
}

.card-item {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: lightpink;

}

.card-item p {
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-item span {
    margin-bottom: 5px;
    font-size: 24px;
}

.item-card button {
    width: 240px;
    border-radius: 24px;
}
