.card-item img{
    width: 70%;
}

.card-item {
    display: flex;
    flex-direction: column;
    border-top: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
    border-right: 3px solid #ccc;
    border-left: 3px solid #ccc;
}

.card-item p {
    font-size: 18px;
    font-weight:900;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-item span {
    margin-bottom: 10px;
    font-size: 24px;
}

.seccion-style {
    margin-top: 10px;
    margin-bottom: 10px;
}