.navbar {
    float: center;
    width: 100%;
    border-bottom: #ccc;
    display: flex;
    height: 40px;
    color: whitesmoke;
}
.container-logo {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 2px;
}
.container-logo img {
    width: 100%;
}
.header-primary {
    background: none !important;
    box-shadow: none !important;
    
}
.header-primary .navbar li {
    margin-right: 40px;
    color: whitesmoke;
}
.header-primary .navbar .navbar__btn {
    font-family: 'Lato', sans-serif;
    text-transform: none;
    font-weight: 100;
    font-size: 16px;
    color: whitesmoke;
    border-radius: 4px;
}
.header-primary .navbar .navbar__btn:hover {
    font-weight: 600;
}

.header-primary .navbar .navbar__btn:hover:before {
    width: 85%;
}

.header-primary .navbar .navbar__btn:before {
    content: "";
    position: absolute;
    width: 0;
    transition: width 0.3s ease;
    height: 1px;
    bottom: 5px;
}

.dark-mode {
    background: black !important;
}